.container-items {
    border: 1px solid black;
    margin: 0 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1fr);
}
.cuerpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}